.header {
  display: flex;
  align-items: center;
  min-height: 75px;
  margin-top: 53px;
  justify-content: space-between;
  margin-bottom: 57px;
}
.header .header__left .header__logo {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.header .header__left .header__logo:hover {
  color: #CDA274;
}
.header .header__left .header__logo-img:hover {
  scale: 1.1;
}
.header .header__right .menubar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 31px;
}
.header .header__right .menubar .menubar__item {
  color: #292F36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 25px */
}
.header .header__right .menubar .menubar__item:hover {
  scale: 1.1;
  color: #CDA274;
}

.footer {
  margin-bottom: 134px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 101px;
}
.footer .footer__link {
  display: flex;
  flex-direction: column;
}
.footer .footer__link .heading__logo {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 18px;
}
.footer .footer__link .heading__logo:hover {
  color: #CDA274;
}
.footer .footer__link .heading__logo-img:hover {
  scale: 1.1;
}
.footer .footer__link .link__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  width: 360px;
  margin-bottom: 31px;
}
.footer .footer__link .media {
  display: flex;
  flex-direction: row;
  gap: 54px;
}
.footer .footer__link .media__link:hover {
  scale: 1.5;
}
.footer .footer__pages {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer .footer__pages .pages__tittle {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
}
.footer .footer__pages .pages__menubar {
  display: flex;
  flex-direction: column;
}
.footer .footer__pages .pages__menubar-item {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  /* 66px */
  letter-spacing: 0.22px;
  transition: all 0.3s;
}
.footer .footer__pages .pages__menubar-item:hover {
  scale: 1.1;
  color: #CDA274;
}
.footer .footer__contact {
  display: flex;
  flex-direction: column;
}
.footer .footer__contact .contact__tittle {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  margin-bottom: 26px;
}
.footer .footer__contact .contact__item {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  width: 258px;
  padding-bottom: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.img {
  width: 100%;
}

.promo {
  padding: 52px;
  background-image: url("/HomeWork_1/img/promo_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
  border-radius: 50px;
  width: 1200px;
  height: 760px;
  margin-bottom: 90px;
}
.promo__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 81.25px */
  width: 434px;
}
.promo__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  width: 434px;
}
.promo__btn {
  display: flex;
  padding: 26px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  width: 220px;
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  /* 22.5px */
  letter-spacing: 0.36px;
  cursor: pointer;
  transition: all 0.3s;
}
.promo__btn:hover {
  scale: 1.1;
  background: #FFF;
  color: #292F36;
  border: 2px solid #292F36;
}

.project {
  margin-bottom: 96px;
}
.project__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 93px;
}
.project__heading-tittle {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  letter-spacing: 1px;
}
.project__heading-text {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  width: 737px;
}
.project__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
.project__box .project__item {
  display: flex;
  flex-direction: column;
}
.project__box .project__item-img {
  margin-bottom: 24px;
}
.project__box .project__item .item__discription {
  display: flex;
  flex-direction: row;
  gap: 260px;
  justify-content: space-between;
  align-items: center;
}
.project__box .project__item .item__discription .discription__left-tittle {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
}
.project__box .project__item .item__discription .discription__left-text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}
.project__box .project__item .item__discription .discription__right .discription__link-svg {
  transition: all 0.3s;
}
.project__box .project__item .item__discription .discription__right .discription__link-svg:hover {
  scale: 1.1;
}
.project__box .project__item .item__discription .discription__right .discription__link-svg:hover path {
  stroke: #FFF;
}
.project__box .project__item .item__discription .discription__right .discription__link-svg:hover circle {
  fill: #CDA274;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 76px;
  background-color: #F4F0EC;
  margin-bottom: 96px;
  height: 457px;
  align-items: center;
}
.counter__item {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.counter__item .item__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.counter__item .item__left-number {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 106.25px */
  letter-spacing: 1.7px;
}
.counter__item .item__left-text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}
.counter__item .item__right {
  border-right: 1px solid #CDA274;
}

.blog {
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
}
.blog__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 52px;
}
.blog__heading-tittle {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  letter-spacing: 1px;
}
.blog__heading-text {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  width: 780px;
}
.blog .blog__content {
  display: flex;
  flex-direction: row;
  gap: 27px;
}
.blog .blog__content .content__item {
  display: flex;
  flex-direction: column;
  display: inline-flex;
  padding: 21px;
  align-items: flex-start;
  gap: 10px;
  width: 380px;
  transition: all 0.3s;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.blog .blog__content .content__item:hover {
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  background: #F4F0EC;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.blog .blog__content .content__item:hover .content__link-svg circle {
  fill: #CDA274;
}
.blog .blog__content .content__item:hover .content__link-svg path {
  stroke: #FFF;
}
.blog .blog__content .content__item .item__top {
  margin-bottom: 21px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding-bottom: 28px;
  padding-left: 24px;
  height: 290px;
  width: 340px;
}
.blog .blog__content .content__item .item__top .content__img-link {
  padding: 4px 11px 8px 5px;
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
  border-radius: 8px 8px 8px 0px;
  background: #FFF;
  transition: all 0.5s;
}
.blog .blog__content .content__item .item__top .content__img-link:hover {
  scale: 1.1;
}
.blog .blog__content .content__item .item__bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog .blog__content .content__item .item__bottom .contnet__tittle {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
  width: 300px;
}
.blog .blog__content .content__item .item__bottom .content__date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog .blog__content .content__item .item__bottom .content__date .contnet__date-text {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.blog .blog__content .content__item .item__bottom .content__date .content__link-svg {
  transition: all 0.3s;
  cursor: pointer;
}
.blog .blog__content .content__item .item__bottom .content__date .content__link-svg:hover {
  scale: 1.1;
}/*# sourceMappingURL=style.css.map */