<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Vue</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div class="homeWork2" id="app">
            <!-- Вы разрабатываете приложение для отображения и сортировки списка товаров. У вас есть массив объектов products, где каждый объект представляет товар с его названием и ценой. Вам необходимо отобразить список товаров и предоставить пользователю возможность сортировать товары по цене (по возрастанию и по убыванию). -->
            <h2>Товары</h2>
            <button @click="toggleList">Показать товары</button>
            <button @click="sortByPrice('asc')">Сортировать по возрастанию цены</button>
            <button @click="sortByPrice('desc')">Сортировать по убыванию цены</button>
            <div class="showcase" v-if="isListVisible">
                <div class="products" v-for="product in sortedProducts"
                    :key="product.name">
                    <div class="product">
                        <p>{{ product.icon }} Название: {{ product.name }};
                            Цена: {{ product.price }}₽</p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var app = new Vue({
              el: '#app',
              data: {
                isListVisible: false,
                products: [
                  { icon: '🥛', name: 'Milk', price: 52 },
                  { icon: '🍞', name: 'Bread', price: 21 },
                  { icon: '🧃', name: 'Juice', price: 12 },
                  { icon: '🍫', name: 'Chocolate', price: 44 },
                  { icon: '🥤', name: 'Drink', price: 68 },
                  { icon: '🍿', name: 'Snack', price: 37 }
                ],
                sortDirection: 'asc',
              },
              methods: {
                toggleList() {
                  this.isListVisible = !this.isListVisible;
                },
                sortByPrice(direction) {
                  this.sortDirection = direction;
                }
              },
              computed: {
                sortedProducts() {
                  if (this.sortDirection === 'asc') {
                    return this.products.slice().sort((a, b) => a.price - b.price);
                  } else {
                    return this.products.slice().sort((a, b) => b.price - a.price);
                  }
                }
              }
            });
          </script>
    </body>
</html>