<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- Task 1 -->
      <button @click="reverseText">Перевернуть</button>
      <p>{{ buttonText }}</p>
      <!-- Task 2 and 3 -->
      <input v-model="newItemText" type="text" placeholder="item">
      <button @click="addItem">Добавить</button>
      <ul>
        <li v-for="item in itemList" :key="item.id"
          @click="removeItem(item)">{{ item.text }}</li>
      </ul>
    </div>

    <script>
            new Vue({
              el: '#app',
              data: {
                buttonText: 'Перевернуть',
                newItemText: '',
                itemList: []
              },
              methods: {
                reverseText() {
                  this.buttonText = this.buttonText.split('').reverse().join('');
                },
                addItem() {
                    if (this.newItemText !== '') {
                      this.itemList.push({ id: Date.now(), text: this.newItemText });
                      this.newItemText = '';
                    }
                },
                removeItem(item) {
                    const index = this.itemList.indexOf(item);
                    if (index !== -1) {
                      this.itemList.splice(index, 1);
                    }
                  }
              }
            });
          </script>
  </body>
</html>